.gd-comparison-bar-wrapper {
    background-color: #E7E7E7;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
}

.gd-comparison-bar-wrapper i {
    cursor: pointer;
}

.gd-comparison-bar-wrapper.full {
    flex-wrap: wrap;
}

.gd-comparison-bar-wrapper.full .gd-compare-section {
    height: 462px;    
}

.gd-comparison-bar-wrapper.full #gd-pages {
    height: 424px;
    position: inherit;
}
.gd-comparison-bar-wrapper-multicompare {
    flex-wrap: wrap;
}

.gd-compare-section {
    width: inherit;    
    border-right: 2px solid #ddd;
}

.gd-compare-area-head {
    height: 37px;
    background-color: #FFFFFF;
    display: flex;
}

.gd-compare-head-buttons {
    display: flex;
    width: 100%;
}

.gd-compare-file-info {
    display: none;
    width: 100%;
}
.gd-compare-file-name {
    color: #959da5;
    margin: 10px;
}
.gd-compare-area-head i:first-of-type {
    color: #959DA5;
    margin: 12px 15px 11px 13px;
    font-size: 14px;
}

.gd-compare-browse {
    color: #959DA5;
    margin: 12px 18px 11px 13px;
    font-size: 14px;
}

.gd-close-dad-area {
    color: #959DA5;
    font-size: 14px;
    margin: 12px 14px 8px 0;
}

.gd-compare-url {
    border: 0;
    height: 37px;
    width: 100%;
    padding-left: 5px;
}

#gd-header-logo {
    background-image: url('../images/logo.png') !important;
}

#gd-add-multicompare {
    float: right !important;
}

.gd-drag-n-drop-icon {
    font-size: 65px;
    color: #959DA5;
    margin: auto;
}

.gd-drag-n-drop-wrap-compare.full {
    padding-top: 200px;
}

.gd-drag-n-drop-wrap-compare {
    display: flex;
    flex-direction: column;
    padding-top: 448px;
}

.gd-compare-drag-label {
    color: #959DA5;
    font-size: 15px;
    margin: 38px auto;
}

.gd-drag-n-drop-icon-multicompare {
    font-size: 65px;
    color: #959DA5;
    margin: 173px auto auto auto;
}

#gd-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 884px;
    position: relative;
}

.gd-wrapper {
    width: inherit;
    padding: 5px 10px;
    position: relative;
}

/*
******************************************
Hightlight elements
******************************************
*/
.highlight-difference {
    position: absolute;
    cursor: pointer;
}
.highlight-difference.active {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.gd-difference.active {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.gd-difference-1 {
    background-color: rgba(0, 122, 255, 0.4);    
}

.gd-difference-2, .gd-difference-4 {
    background-color: rgba(46, 237, 0, 0.4);        
}

.gd-difference-3 {
    background-color: rgba(237, 0, 0, 0.4);
}

.gd-difference-6 {
    background-color: rgba(215, 224, 0, 0.4);    
 }



/*
******************************************
Right side panel
******************************************
*/
    .gd-differences-wrapper {
    display: flex;
    flex-flow: column;
    margin-right: -334px;
    width: 334px;
    transition: margin-right 0.2s cubic-bezier(0.81, 0.01, 1, 1);
}

.gd-differences-wrapper.active {
    margin-right: 0px;
    width: 334px;
    z-index: 999;
    background-color: #FFF;
    transition: margin-right 0.2s cubic-bezier(0.81, 0.01, 1, 1);
}

.gd-differences-header {
    height: 50px;
    background-color: #222E35;
    display: flex;
    flex-flow: row;
}

.gd-differences-header > i:first-child {
    font-size: 24px;
    color: #959DA5;
    margin: 12px 9px 18px 14px;
}

.gd-differences-header span {
    font-size: 13px;
    color: rgba(237, 240, 242, 0.57);
    margin: 18px 187px 23px 0;
}

.gd-differences-header .close {
    font-size: 24px;
    color: rgba(237, 240, 242, 0.4);
    margin: 13px 14px 17px 0;
    cursor: pointer;
}

.gd-differences-body {
    display: flex;
    flex-flow: column;
    padding-top: 14px;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.gd-difference {
    flex-flow: row wrap;
    height: 75px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.gd-difference i {
    font-size: 14px;    
    margin: 14px 13px 0px 20px;
}
.gd-difference .fa-arrow-right {
    color: #16B901;
}
.gd-difference .fa-pencil-alt {
    color: #CED600;
}
.gd-difference .fa-times {
    color: #B96401;
}
.gd-difference-title {
    color: #222E35;
    font-size: 13px;
    font-weight: bold;
    margin: 15px 0px 10px 0;
}
.gd-difference-page {
    color: rgba(149, 157, 165, 0.48);
    font-size: 11px;
    margin: 17px 14px 48px 0px;
    float: right;
}
.gd-differentce-comment {
    color: #959DA5;
    font-size: 13px;
    margin: 10px 0px 18px 45px;
    width: 262px;
    white-space: nowrap; /*keep text on one line */
    overflow: hidden; /*prevent text from being shown outside the border */
    text-overflow: ellipsis;
}