@media (max-width: 1024px){

  #bcPaint-header{
    height: 60px;
    padding: 11px 0;
  }

  #bcPaint-palette{

  }

  .bcPaint-palette-color{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 0 5px;
  }

  #bcPaint-canvas-container > canvas{
    border: 0;
  }

  .bcPaint-export {
    top: 25px;
    right: 25px;
    font-size: 15px;
  }
}