@media (max-width: 1024px){

  #bcPaint-header{
    height: 72px;
    padding: 11px 0;
    width: 65%;
    right: 55px;
  }

  #bcPaint-palette{

  }

  .bcPaint-palette-color{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
  }

  #bcPaint-canvas-container > canvas{
    border: 0;
  }

  .bcPaint-export {
    top: 25px;
    font-size: 38px;
  }
}