@media (max-width: 1024px){

  .bcPaint-header {
    height: 40px;
    padding: 10px 20px 0px 10px;
  }

  .bcPaint-palette-color{
    width: 15px;
    height: 15px;
    border-radius: 100%;
	margin: 0 15px 0 0;
  }

  #bcPaint-canvas-container > canvas{
    border: 0;
  }

  .bcPaint-export {
    font-size: 15px;
  }
}