#gd-qr-container {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #3787F5;
    margin-top: 15px;
    padding: 5px;
}

#gd-add-optical-signature {
	margin: 0 5px 0 5px
}

.gd-qr-property {
    border: 1px solid #4D73BC;
    padding: 5px;
    color: #5C737F;
    width: 80%;
}

.gd-add-optical {
	display: -webkit-inline-box;
    width: 27px;
    height: 27px;
    background-color: #3787F5;
    position: absolute;
    margin-left: 9px;
}

.gd-add-optical i {
	color: white;    
    position: absolute;
    top: 22%;
    left: 24%;
}

#gd-qr-preview-container img {
    width: 100%;
	height: auto;
}