@media (max-width: 1024px) {
    #gd-qr-container{
        margin: 0px 13px 0px 12px;
        border-radius: 5px;
    }
    #gd-qr-preview-container .fa-qrcode, #gd-qr-preview-container .fa-barcode{
        width: 100%;
        height: auto;
        border: 0px;
    }
    .gd-qr-preview-container {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .gd-qr-property {
        font-size: 14px;
    }

    .gd-add-optical i {
        font-size: 14px;
    }

    .gd-add-optical {
        width: 34px;
        height: 30px;
    }
}