/*
******************************************
FIX DOCUMENT PAGE POSITION FOR IMAGE SIGNATURE
******************************************
*/
.gd-page {
    position: relative !important;
}
.gd-save-disabled {
    cursor: not-allowed !important;
}
#gd-header-logo {
    background-image: url('../images/logo.png') !important;
}
.gd-mobile-menu {
    display: none;
}
.gd-mobile-menu-open {
    display: none;
}
.gd-mobile-menu-close {
    display: none;
}
/*
******************************************
SIGNATURE TOOL BAR
******************************************
*/
.gd-left-bar-wrapper {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    z-index: 99999;
}
.gd-left-bar-tools-container {
    height: 100%;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    float: left;
    z-index: 1;
}
.gd-left-bar-tools-container ul li {
    margin: 10px;
}
.gd-tool .gd-popupdiv-hover {
    display: none;
}
.gd-tool-inactive > i {
    color: #959da5;
}
.gd-tool-active > i {
    color: #414E59;
}
.gd-tool:hover .gd-popupdiv-hover {
    display: block;
}

.gd-tool {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
    display: inline-block;
    margin: 3px 0px 0px 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.gd-tool-tooltip {
    position: absolute;
    left: 35px !important;
    top: 10px;
    padding: 3px 0.5em;
    background-color: #08090a;
    color: #fff !important;
    text-align: center;
    border-radius: 2px;
    z-index: 20;
    font-size: 12px;
}
.gd-tool-tooltip::after {
    right: 100%;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(0, 0, 0, 0);
    border-right-color: #000000;
    margin-top: -5px;
}
.gd-signature-context-panel {
    display: none;
    background-color: #F3F3F3;
    left: 53px;
    width: 260px;
    height: 100%;
    position: absolute;
}
.gd-signature-context-panel::after {
    right: 100%;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(0, 0, 0, 0);
    border-right-color: #F3F3F3;
    margin-top: -5px;
}
.gd-signature-context-panel.text::after {
    top: 30px;
}
.gd-signature-context-panel.image::after {
    top: 75px;
}
.gd-signature-context-panel.digital::after {
    top: 120px;
}
.gd-signature-context-panel.qrCode::after {
    top: 165px;
}
.gd-signature-context-panel.barCode::after {
    top: 210px;
}
.gd-signature-context-panel.stamp::after {
    top: 255px;
}
.gd-signature-context-panel.hand::after {
    top: 300px;
}
.gd-signature-list-wrapper-add {
    height: Calc(100% - 100px) !important;
}
.gd-signature-list-wrapper-add-img {
    height: Calc(100% - 340px) !important;
}
.gd-signature-list-wrapper {
    display: flex;
    height: Calc(100% - 20px);
}
.gd-signature-list-scroll {
    overflow-x: hidden;
    overflow-y: auto !important;
}
.gd-signature-list-title > i {
    color: #676767;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.gd-signature-context-panel-title {
    color: #AAAAAA;
    font-size: 14px;
    margin: 7px 0 0 12px;
}
.gd-left-bar-spinner {
    left: 30%;
    top: 50%;
    position: absolute;
}
.gd-left-bar-fade {
    position: fixed;
    margin: auto;
    display: none;
    overflow: hidden;
    top: 50px;
    right: Calc(100% - 315px);
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(255,255,255,0.5);
}
/*
******************************************
MODAL
******************************************
*/
.gd-signature-modal-dialog {
    width: 700px !important;
    height: 500px !important;
}
#gd-open-signature {
    right: -15px;
    background-color: #25c2d4;
}
#gd-sign-section {
    width: 100%;
    height: 100%;
    position: relative;
}
.gd-upload-signatures {
}
.gd-modal-buttons {
    display: inline-grid;
    width: 146px;
    cursor: pointer;
}
.gd-draw-signatures i, .gd-upload-signatures i, .gd-browse-signatures i {   
    font-size: 72px;
    color: #808080;
    position: inherit;
}
.gd-browse-signatures{
}
.gd-signing-label {
    text-align: left;
}
.gd-signing-label div {
    font-size: 20px !important;
    display: inline-grid;
}
.gd-signing-label div i {
    font-size: 14px !important;
    color: #959da5;
    left: 20px;
    width: max-content;

}
#gd-signature-upload-input {
    opacity: 0;
    filter:alpha(opacity=0);
    display: none;
}

.gd-lightbox-close {
    left: 13px;
    top: 14px;
}

#gd-lightbox-body {
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/stampBackground.png) !important;
}

.gd-signature-clickable {
    width: Calc(100% - 30px);
}
/*
******************************************
SIGNING MODAL FOOTER
******************************************
*/
#gd-signing-footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    /* background-color: #e5e5e5; */
    width: 100%;
    height: 50px;
    display: none;
}
#gd-signing-footer div{
    font-size: 14px;
    top: 14px !important;
    left: 37px;
    position: absolute;
    cursor: pointer;
}
#gd-signing-footer div:last-child{
    left: calc(100% - 90px);
}
.gd-signing-disabled {
    cursor: not-allowed !important;
    color: #cacaca !important;
}
.gd-modal-pagination{
    text-align: center;
    margin-top: 18px;
}
.gd-modal-pagination li {
    margin: 0 6px;
    display: inline-block;
}
.gd-pagination {
    width: 29px;
    height: 8px;
    display: block;
    background: #cacaca;
    text-indent: -9999px;
    border-radius: 0px;
}
.gd-pagination-active {
    background: #666;
}
/*
******************************************
SIGNING MODAL SLIDES
******************************************
*/
.gd-slider-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}
.gd-slide {
    display: none;
    text-align: center;
}
/*
******************************************
BROWSE SIGNATURES SLIDE
******************************************
*/
#gd-upload-step{
    position: absolute;
    top: calc(50% - 45px);
    width: 100%;
}
#gd-signature-page-select-step{
    text-align: left;
}
#gd-signatures{
    position: absolute;
    top: 90px;
    left: 28px;
    width: 93%;
    height: 365px;
    overflow-y: auto;
}
.gd-digital-signature {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #e5e5e5;  
}
.gd-signature-item i {
    position: absolute;
    right: 10px;
    top: 16px;
    color: #676767;
    cursor: pointer;
}
.gd-signature .fa-folder {
    margin-left: 17px;
}
.gd-signature-item .gd-signature-name {
    margin: 3px;
    font-size: 14px;
    color: #AAAAAA;
    position: absolute;
    height: 100%;
    width: 146px;
    cursor: pointer;
    left: 50px;
    top:0px;
    align-items: center;
    display: flex;
}
.gd-signature .fa-level-up {
    margin-left: 23px;
}
.gd-signature-thumbnail {
    background-color: #ffffff;
    width: 250px;
    height: 53px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
	position: relative;
}
.gd-signature-thumbnail-image i {
    right: unset !important;
    left: 16px;
}
.gd-signature-thumbnail-image {
    width: 47px;
    height: 47px;
    margin: 3px;
}
.gd-signature-radio {
    opacity: 0;
    position: absolute;
}
.gd-signature-radio, .gd-all-pages-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.gd-all-pages-label{
    position: relative;
    color: #0c0b0b !important;
    font-size: 16px !important;
}

.gd-signature-radio + .gd-signature-name:before, .gd-signature-radio + .gd-all-pages-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}
.gd-signature-radio:checked + .gd-signature-name:before, .gd-signature-radio:checked + .gd-all-pages-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #3e4e5a;
}

/*
******************************************
DRAW IMAGE SLIDE
******************************************
*/
.csg-preview{
    top: -8px !important;
    left: 38px;
}

.gd-lightbox-header {
    position: absolute;
    width: 100%;
    top: 0;
}

/*
******************************************
ADDITIONAL SIGNATURE INFORMATION SLIDE
******************************************
*/
.gd-signature-information {
    position: absolute;
    top: calc(100% - 376px);
    left: 23px;
    width: 88%;
}
.gd-signature-information input {
    margin-bottom: 17px;
    width: 100%;
    height: 35px;
    border-color: #e5e5e5;
    border-style: solid;
    color: #959da5;
    padding-left: 10px;
}
.gd-signature-information i {
    position: absolute;
    top: calc(100% - 42px);
    left: 6px;
    color: #959da5;
}
#gd-datepicker{
    padding-left: 28px !important;
}
.gd-signature-information input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #959da5;
}
.gd-signature-information input::-moz-placeholder { /* Firefox 19+ */
    color: #959da5;
}
.gd-signature-information input:-ms-input-placeholder { /* IE 10+ */
    color: #959da5;
}
.gd-signature-information input:-moz-placeholder { /* Firefox 18- */
    color: #959da5;
}
#gd-password-required{
    display: none;
    color: #FF0000;
    top: calc(100% - 69px);
    position: absolute;
    font-size: 13px;
}
/*
******************************************
SIGNATURE INFORMATION REVIEW SLIDE
******************************************
*/
.gd-signature-information-review {
    position: absolute;
    top: calc(100% - 412px);
    left: 26px;
    height: 67%;
}
.gd-signature-information-review label {
    display: -webkit-box !important;
    color: #3e4e5a !important; 
    font-size: 14px !important;
    float: left;
    margin-right: 5px;
}
.gd-signature-information-review i {
    font-size: 14px !important;
    color: #959da5 !important;
    position: inherit !important;
}
#gd-modal-signed {
    position: absolute;
    top: 20px;
    left: 35px;
}
.gd-signature-information-review div {
    margin-top: 25px;
}

/*
******************************************
SIGNATURE IMAGE
******************************************
*/
#gd-image-signature {
    width: initial !important;
}
.gd-draggable-helper, .ui-wrapper {
    position: absolute !important;
	border: 1px solid #3c97fe;
	z-index: 999;
}
.gd-image-signed {
    top: 69px !important;
}
.gd-signature-image {
    width: 100% !important;
    height: inherit;
}
.gd-image-apply {
    position: absolute;
    top: -22px;
    right: 20px;
}
.gd-image-edit{
    display: none;
    position: absolute;
    top: -25px;
    right: 0;
    color: #3e4e5a;
}
.gd-image-apply > i {
    color: #008000;
}
.gd-image-cancel {
    right: 0px !important;
}
.gd-image-cancel > i {
    color: #ff0000 !important;
}
.gd-context-menu-bottom {
    bottom: -40px;
}
.gd-context-menu-top {
    top: -44px;
}
.gd-context-menu {
    padding: 5px;
    box-shadow: #00000052 0px 0px 5px;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: default;
    width: max-content;
	width: -moz-max-content;
}
.gd-text {
    width: inherit;
    height: inherit;
}
.gd-text-context-menu {
	left: -48px;
}
.gd-context-menu .fa-arrows-alt {
    cursor: move;
}
.gd-context-menu i {
    color: #5c737f;
    font-size: 13px;
    padding-top: 4px;
    display: inline-block;
    position: initial;
    margin: 3px;
}
.gd-context-menu i.active{
    background-color: #e7e7e7;
}
.gd-text-menu{
	display: -webkit-inline-box;
}
.gd-delete-signature {
    cursor: pointer;
}
.gd-fonts-select {
	border: none;
}
.gd-text-color-picker{
	position: relative;
    width: 14px;    
    height: 14px;
    display: inline-block;
    top: 2px;
    margin: 0px 4px 0 6px;
}

/*
******************************************
SIGNATURE IMAGE PAGE SELECTING STEP
******************************************
*/
#gd-pages-select-radio {
    display: inline-grid;
    width: 65px;
    position: relative;
}
#gd-radio-diapason {
    top: 39px;
}
.gd-pages-label {
    margin-top: 60px;
    margin-left: 60px;
}
.gd-pages {
    position: absolute;
    display: inline-block;
    top: calc(100% - 146%);
    left: 59%;
    height: 250px;
}
.gd-pages input {
    width: 72px;
    margin-right: 10px;
    font-size: 19px;
}
.gd-pages-diapason {
    width: 256px;
    margin-top: 8px;
}
#gd-all-pages{margin-left: 115px;margin-top: -24px;}
/*
******************************************
SIGNATURE IMAGE ROTATION
******************************************
*/
.ui-rotatable-handle {
    cursor: pointer;
    left: calc(100% - 56%);
    top: -24px;
    position: absolute;
    color: #3e4e5a;
}
/*
******************************************
SIGNATURE IMAGE RESIZE HANDLES
******************************************
*/
.ui-resizable-handle {
    background-color: #679FFA;
    width: 8px;
    height: 8px;
}

.ui-resizable-se {
    bottom: -5px;
    right: -5px;
}
.ui-resizable-e, .ui-resizable-w  {
    top: calc(100% - 55%) !important;
}
.ui-resizable-s, .ui-resizable-n  {
    left: calc(100% - 55%) !important;
}
/*
******************************************
TEMPORARY USED ELEMENTS EXCEL DOCUMENTS IMAGE SIGNING FIX
******************************************
*/
.gd-cells-information {
    top: calc(100% - 46%);
    height: 135px;
}
.gd-cells-information input {
    margin-bottom: 10px;
    width: 65%;
    height: 35px;
    border-color: #e5e5e5;
    border-style: solid;
    color: #959da5;
    padding-left: 10px;
}
.gd-cells-information input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #959da5;
}
.gd-cells-information input::-moz-placeholder { /* Firefox 19+ */
    color: #959da5;
}
.gd-cells-information input:-ms-input-placeholder { /* IE 10+ */
    color: #959da5;
}
.gd-cells-information input:-moz-placeholder { /* Firefox 18- */
    color: #959da5;
}
.gd-cells-inputs {
    position: absolute;
    width: 200px;
    top: 44px;
    left: 19px;
}
.gd-lightbox-body {
    padding: 0 !important;
}

.gd-draw-text {
    width: inherit;
    height: inherit;
}