@media (max-width: 1024px) {
    .gd-modal-dialog {
		width: 100% !important;
		height: 100% !important;
	}
	
	#gd-btn-download-value {
        top: 78px;
    }

    #gd-btn-download-value li{
        font-size: 44px;
    }

    #gd-sign-section label i {
        font-size: 171px;
    }

	.gd-signature-information-review div {
		font-size: 52px !important;
	}

	.gd-browse-signatures {
        left: 31%;
		top: calc(100% - 76%);
        font-size: 37px !important;
        position: absolute !important;
		width: 388px;
    }

    .gd-browse-signatures i {
		top: -148px;
		left: 109px;
		font-size: 161px;		
    }

    .gd-draw-signatures {
        top: calc(100% - 48%) !important;
        left: 33%;
        font-size: 37px !important;
        position: absolute !important;
		width: 336px;
    }

    .gd-draw-signatures i {
        top: -143px;
		left: 88px;
		font-size: 161px;
    }

    .gd-upload-signatures {
        left: 4% !important;
		top: calc(100% - 82%) !important;
        font-size: 37px !important;
        position: absolute !important;
		width: 379px;
    }

    .gd-upload-signatures i {
        top: -163px;
        left: 102px;
		font-size: 161px;
    }

	#gd-signature-upload-input {
		height: 181px;
		top: -138px;
		width: 388px !important;
	}

    .gd-signing-label {
        top: 79px;
    }

	.gd-pages-label {
		position: absolute !important;
		top: 33% !important;
		left: 94px !important;
		font-size: 59px !important;	
	}
	
	#gd-text-size-label {
		width: 150px !important;
	}
	
    .gd-signing-label div {
        font-size: 57px !important;
    }

    .gd-signing-label div i {
        font-size: 36px !important;
        left: 68px;
    }

    #gd-signatures {
        top: calc(100% - 87%);
        width: 90%;
        height: 70%;
    }

    .gd-signature-thumbnail > input {
        width: 375px;
        height: 294px;
    }

    .gd-signature-radio + .gd-all-pages-label:before {
        width: 42px;
        height: 42px;
        font-size: 37px;
    }

    .gd-signature-thumbnail-image {
        width: 94px;
        height: 94px;
    }

    .gd-signature .gd-signature-name {
        width: Calc(100% - 150px);
        font-size: 32px;
    }

    .gd-left-bar-spinner {
        top: 20%;
    }

    .gd-left-bar-fade {
        top: 100px;
        right: 0;
    }

    .gd-signature-thumbnail {
        width: 85%;
        margin: 20px;
        height: 100px;
    }

    .gd-signature i {
        font-size: 32px;
        right: 20px;
        top: 25px;
    }

    #gd-signing-footer div {
        top: 27px !important;
        font-size: 56px !important;
    }

    .gd-modal-pagination {
        top: 49px;
        left: calc(100% - 60%);
    }

    .gd-pagination {
        width: 87px;
        height: 9px;
    }

    #gd-signing-footer {
        bottom: 3px;
        height: 125px;
    }

    .gd-text-params h3 {
        font-size: 34px !important;
    }

    #gd-draw-image, #gd-draw-stamp, #gd-draw-optical, #gd-draw-text {
        top: calc(100% - 87%);
    }

    #gd-draw-stamp, #gd-draw-image {
        width: 95%;
        height: 43%;
    }

    #gd-draw-optical, #gd-draw-text {
        width: 97%;
		height: 24%;
    }

    #gd-text-params-container {
        width: 94% !important;
        height: 51% !important;
    }   

    .gd-text-params input[type="text"] {
        width: 100% !important;
        height: 81px !important;
        font-size: 58px;
    }
	 
	#gd-text-border-table div, #gd-qr-text-table div, #gd-qr-border-table div {
		font-size: 40px !important;
	}
 
	#gd-qr-border-table div {
		margin-right: 26px;
	}

	.gd-optical-label {
		width: 246px;
	}

	#gd-text-border-width-div {
		width: 260px;
	}

	.gd-text-checkbox {
		margin-left: 24px;
	}
	 
	.gd-text-checkboxes {
		width: 439px !important;
		margin-top: -54px !important;
	}

    #gd-text-table div {
        font-size: 40px !important;
        width: 330px !important;
    }

    .gd-text-params .gd-text-color-picker {
        width: 202px !important;
        height: 69px !important;
    }

    .gd-text-params table {
        margin-bottom: 29px;
    }

    .gd-text-params input[type="number"] {
        width: 119px !important;
        font-size: 51px;
        height: 69px !important;
    }

    .gd-text-params input[type="checkbox"] {
        width: 46px;
		height: 46px;
    }

	.gd-text-helper:before {		
		left: 22px !important;
		top: 35px !important;		
		width: 41px !important;
		height: 41px !important;		
	}

	.gd-text-helper:after {		
		width: 28px !important;
		height: 16px !important;		
		top: 48px !important;
		left: 33px !important;
	}

    #gd-text-font {
        width: 257px !important;
    }

    #gd-text-preview-container {
        left: calc(100% - 86%) !important;
		top: 336px !important;
		zoom: 3;
    }

    #gd-text-preview-container > img {
        width: 620px;
    }

    .bcPicker-palette {
        width: 286px !important;;
    }

	.gd-text-params .gd-text-color-picker {
		margin-right: 30px !important;
	}
	
    .bcPicker-palette > .bcPicker-color {
        width: 62px !important;;
        height: 57px !important;;
    }

    .gd-border-style-wrapper {
        width: 344px !important;
    }

	.gd-optical-border-style-wrapper {
		width: 395px !important;
	}
    .gd-border-style-select {
        width: 100%;
        -webkit-appearance: menulist-button;
        font-size: 43px;
    }

    .gd-border-style-select option {
        font-size: 14px;
    }

    .gd-signature-information-review {
        top: calc(100% - 86%) !important;
    }

    .gd-signature-information-review label, .gd-signature-information-review i {
        font-size: 45px !important;
    }

    .gd-drop-button {
        font-size: 52px !important;
    }

    .gd-pages-dropdown-content {
        min-width: 305px;
    }

    #gd-sign-section div {
        font-size: 11px;       
    }

    #gd-all-pages {
		top: calc(100% - 67.5%) !important;
		left: 307px !important;
    }

    #gd-all-pages div {
        font-size: 47px !important;
		height: 128px;
		padding-top: 7px;
    }

	.gd-pages-diapason {
		position: absolute;
		top: 12%;
		width: 540px;
		left: 52%;
	}

	.gd-pages input {
		width: 127px;
		margin-right: 27px;
		font-size: 44px;
		margin-left: 14px;
	}

	.gd-all-pages-label {
		font-size: 56px !important;
	}
	
	#gd-radio-diapason {
		top: 123px;
	}

	#gd-pages-select-radio label:last-child {
	    margin-top: 31px;
	}
	
    .gd-pages-dropdown-content a {
        font-size: 46px;
    }

    #gd-modal-spinner {
        font-size: 46px;
        left: 287px;
        top: calc(100% - 26%);
    }

    #gd-signing-footer div:last-child {
        left: calc(100% - 181px);
    }

    #gd-modal-signed {
        top: 127px !important;
        font-size: 45px !important;
    }

    .gd-signature-information {
        top: calc(100% - 86%);
    }

    .gd-signature-information input {
        height: 101px;
        font-size: 49px;
    }

    .gd-signature-information i {
        top: calc(100% - 100px);
        left: 16px;
    }

    #gd-datepicker {
        padding-left: 80px !important;
    }

    #gd-qr-params-container, #gd-qr-params-header, .gd-qr-params {
        height: 100% !important;
        width: 100% !important;
    }

    .gd-qr-params h3 {
        font-size: 36px !important;
    }    

    .gd-qr-params input[type="text"] {
        width: 100% !important;
        font-size: 53px;
    }

    .gd-qr-params input[type="number"] {
        width: 82px !important;
        font-size: 42px;
    }

    #gd-qr-preview-container {
        left: calc(100% - 71%) !important;
        top: calc(100% - 28%) !important;
        position: relative !important;
    }

    .gd-qr-params .gd-qr-color-picker {
        width: 134px !important;
        height: 51px !important;
    }

    .ui-datepicker {
        font-size: 48px;
    }

    .fa-calendar:before {
        font-size: 54px;
    }

    #csg-params-container {
        width: 98% !important;;
    }

    #csg-params-header > button {
        font-size: 37px !important;;
    }

    #csg-preview-container {
        left: 295px;
        top: 128%;
    }

    .csg-params h2 {
        font-size: 32px !important;
    }

    .csg-params .csg-params-toggle {
        right: 86px !important;
        font-size: 38px !important;;
    }

    .csg-params .csg-shape-remove {
        font-size: 39px !important;;
    }

    .csg-params h3 {
        font-size: 38px !important;;
    }

    .csg-params thead td {
        font-size: 55px !important;;
    }

    #csg-container input {
        font-size: 57px !important;;
        margin-right: 67px;
    }

    .csg-params input[type="number"] {
        width: 125px !important;;
    }

    .csg-params input[type="text"] {
        width: 100% !important;;
    }

    .csg-params .csg-color-picker {
        width: 144px !important;;
        height: 69px !important;;
        margin-right: 69px;
    }

    .csg-params table {
        margin-bottom: 50px;
    }

    #csg-text-expansion {
        width: 182px !important;
    }

    .gd-left-bar-wrapper {
        display: none;
        top: 100px;
        width: 100%;
    }

    #gd-header-logo {
        background-image: unset !important;
        width: 100px;
    }

    .gd-tool {
        width: 100%;
        text-align: left;
        margin: 65px 0px 0px 10px;
    }

    .gd-left-bar-tools-container {
        width: 100%;
    }

    .gd-tool > i {
        font-size: 3em;
    }

    .gd-tool .gd-popupdiv-hover {
        display: block;
    }

    .gd-tool-tooltip-mobile {
        color: #08090a !important;
        background-color: #fff !important;
        left: 100px !important;
        font-size: 24px;
        top: 0px;
    }

    .gd-tool-tooltip::after {
        display: none;
    }

    .gd-mobile-menu {
        display: block;
        position: absolute;
        margin: 25px;
        font-size: 3em;
    }

    .gd-mobile-menu-open {
        display: block;
        cursor: pointer;
    }

    .gd-mobile-menu-close {
        cursor: pointer;
    }

	.gd-text-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 75px;
	}

	.gd-blur{
		width: 100vw;
		height: 75px;
		background-color: #3E4E5A;
		filter: blur(8px);
		opacity: 0.7;
		-webkit-filter: blur(4px);
		position: absolute;
		z-index: -1;
	}
	.gd-fonts-select {
		font-size: 31px;
		margin: 14px 29px 0 13px;
		background-color: #717c84;
		color: white;
	}
	.gd-text-menu i {
		font-size: 25px;
		color: white;
		margin: 0 27px;
	}

	.gd-text-color-picker {
		width: 37px;
		height: 36px;
		top: 8px;
		margin: 0px 4px 0 20px;
	}

	.fa-arrow-up{
		color: #dcdcdc;
		-moz-transition: all 0.5s linear;
		-webkit-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.down{
		position: absolute;
		top: 32px;
		-moz-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}

	.gd-context-menu i.active {
		background-color: #959da5;
		width: 38px;
		height: 36px;
		margin: 0 21px;
	}
	
    .gd-signature-context-panel {
        left: 100px;
        width: 100%;
    }

    .gd-signature-context-panel-title {
        font-size: 32px;
        margin: 20px;
    }

    .gd-signature-list {
        width: 100%;
    }

    .gd-signature-list-title > i {
        font-size: 30px;
        right: 15%;
    }

    .gd-signature-context-panel::after {
        border: 10px solid rgba(0, 0, 0, 0);
        border-right-color: #F3F3F3;
    }

    .gd-signature-context-panel.text::after {
        top: 90px;
    }

    .gd-signature-context-panel.image::after {
        top: 195px;
    }

    .gd-signature-context-panel.digital::after {
        top: 300px;
    }

    .gd-signature-context-panel.qrCode::after {
        top: 410px;
    }

    .gd-signature-context-panel.barCode::after {
        top: 520px;
    }

    .gd-signature-context-panel.stamp::after {
        top: 630px;
    }

    .gd-signature-context-panel.hand::after {
        top: 730px;
    }

    .gd-signature-clickable {
        width: Calc(100% - 70px);
    }
}
@media screen and (orientation: landscape) {
    .gd-modal-dialog-lightbox {
        display: block;
    }
    .gd-mobile-portrait {
        display: none;
    }
}
@media screen and (orientation: portrait) {
    .gd-modal-dialog-lightbox {
        display: none;
    }
    .gd-mobile-portrait {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
    }
    .gd-mobile-turn-image {
        background-image: url('../images/noun_landscape orientation.png') !important;
        position: fixed;
        left: Calc((100% - 215px)/2);
        top: Calc((100% - 215px)/2);
        width: 215px;
        height: 215px;
    }
}