/*
******************************************
FIX DOCUMENT PAGE POSITION FOR IMAGE SIGNATURE
******************************************
*/
.gd-page {
    position: relative !important;
}
.gd-save-disabled {
    cursor: not-allowed !important;
}
#gd-header-logo {
    background-image: url('../images/logo.png') !important;
}
.gd-mobile-menu {
    display: none;
}
.gd-mobile-menu-open {
    display: none;
}
.gd-mobile-menu-close {
    display: none;
}
/*
******************************************
SIGNATURE TOOL BAR
******************************************
*/
.gd-left-bar-wrapper {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    z-index: 99999;
}
.gd-left-bar-tools-container {
    height: 100%;
    background: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    float: left;
    z-index: 1;
}
.gd-left-bar-tools-container ul li {
    margin: 10px;
}
.gd-tool .gd-popupdiv-hover {
    display: none;
}
.gd-tool-inactive > i {
    color: #959da5;
}
.gd-tool-active > i {
    color: #414E59;
}
.gd-tool:hover .gd-popupdiv-hover {
    display: block;
}
.gd-tool {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
    display: inline-block;
    margin: 3px 0px 0px 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.gd-tool-tooltip {
    position: absolute;
    left: 35px !important;
    top: 10px;
    padding: 3px 0.5em;
    background-color: #08090a;
    color: #fff !important;
    text-align: center;
    border-radius: 2px;
    z-index: 20;
    font-size: 12px;
}
.gd-tool-tooltip::after {
    right: 100%;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(0, 0, 0, 0);
    border-right-color: #000000;
    margin-top: -5px;
}
.gd-signature-context-panel {
    display: none;
    background-color: #F3F3F3;
    left: 53px;
	width: 300px;
    height: 100%;
    position: absolute;
}
.gd-signature-context-panel::after {
    right: 100%;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 5px solid rgba(0, 0, 0, 0);
    border-right-color: #F3F3F3;
    margin-top: -5px;
}
.gd-signature-context-pane-wrapper{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: stretch;
    height: 95vh;
}
.gd-signature-context-panel.text::after {
    top: 30px;
}
.gd-signature-context-panel.image::after {
    top: 75px;
}
.gd-signature-context-panel.digital::after {
    top: 120px;
}
.gd-signature-context-panel.qrCode::after {
    top: 165px;
}
.gd-signature-context-panel.barCode::after {
    top: 210px;
}
.gd-signature-context-panel.stamp::after {
    top: 255px;
}
.gd-signature-context-panel.hand::after {
    top: 300px;
}
.gd-signature-list-wrapper-add-img {
    height: Calc(100% - 340px) !important;
}
.gd-signature-list-wrapper {
    display: flex;
    flex-direction: column;
    flex:1;
    overflow: auto;
}
.gd-signature-empty-list {
    flex-direction: column;
    display: flex;
    text-align: center;
    color: #0000001a;
}
.gd-signature-empty-list i{
    font-size: 60px;
    padding: 87px 97px 0px;
}
.gd-empty-list-text {
    padding: 18px 38px 0px;
    font-size: 12px;
}
.gd-signature-list-scroll {
    overflow-x: hidden;
    overflow-y: auto !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 11px 0px 12px;
}
.gd-signature-list-title{
    display: flex;
    flex-direction: row;
}
.gd-signature-list-title > i {
	margin: 13px 26px 0px 0px;
    color: #676767;
    cursor: pointer;
    width: 12px;
    height: 20px;
    font-size: 20px;
}
.gd-signature-context-upload-title, .gd-signature-context-panel-title {
	color: #AAAAAA;
    font-size: 12px;
    width: 121px;
    font-family: Helvetica;
    font-weight: bold;
    margin: 16px 129px 0px 12px;
}

.gd-signature-context-panel-title {   
    width: 101px;
    margin: 14px 149px 12px 12px;
}
.gd-left-bar-spinner {
    left: 30%;
    top: 50%;
    position: absolute;
}
.gd-left-bar-fade {
    position: fixed;
    margin: auto;
    display: none;
    overflow: hidden;
    top: 50px;
    right: Calc(100% - 315px);
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(255,255,255,0.5);
}
.gd-upload-container {
    background-color: #ffffff;
    width: 278px;
    height: 252px;
    border: 1px solid #3787f5;
    border-radius: 5px;
    margin: 9px 10px 14px 12px;
}
.gd-add-upload-file, .gd-sign-digital {
    width: 263px;
    height: 27px;
    background-color: #3787F5;
    margin: 9px 8px 7px 7px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    box-shadow: 0 0 3px #ddd;
    cursor: pointer;
    padding-top: 5px;
}
.gd-upload-inputs {
	width: 263px;
    height: 201px;
    text-align: center;
    margin: 7px 8px 9px 6px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
}
.gd-upload-inputs i {
	font-size: 52px;
    color: #959DA5;
    margin: 61px 112px 12px 112px;
    width: 39px;
    height: 53px;
}
.gd-upload-title {
    color: #5C737F;
    font-size: 13px;
    margin: 0px 80px 61px 82px;
}
.gd-upload-inputs input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: inherit;
    height: 203px;
}
.gd-digital-input-wrapper {
    margin: 0px 5px 8px 8px;
    display: flex;
}
.gd-digital-inputs input {
    width: 263px;
    height: 27px;   
	border: 1px solid rgba(92, 115, 127, 0.3);
    border-radius: 3px;
    padding-left: 28px;
}
.gd-digital-inputs i {
    position: absolute;
    font-size: 12px;
    margin: 7px 0px 7px 7px;   
    color: #ccc !important;
}

/*
******************************************
MODAL
******************************************
*/
.gd-lightbox-close {
    left: 13px;
    top: 14px;
    width: fit-content;
}

#gd-lightbox-body {
	background-color: rgba(0, 0, 0, 0);
	background-image: url(../images/stampBackground.png) !important;
}

.gd-signature-title {
	width: inherit;
    margin: 20px 47px 20px 0px;
    height: fit-content;
}

.gd-signature-item {
    display: flex;
    width: 100%;	
    flex-direction: row;
}
.gd-signature-item i {
	font-size: 11pt;
    color: #676767;
    cursor: pointer;
    height: fit-content;
    margin: 22px 17px 20px 0px;
}
.gd-signature-item .gd-signature-name {
	font-size: 10pt;
    color: rgba(0,0,0,0.36);
    cursor: pointer;
}
.gd-signature-thumbnail-text, .gd-signature-thumbnail-image, .gd-signature-thumbnail-hand {
    min-width: 56pt;
    height: 31pt;
    margin: 8px 15px 8px 11px;
}
.gd-signature-thumbnail-image {
    min-width: 31pt; 
}
.gd-signature-thumbnail-qrCode, .gd-signature-thumbnail-barCode {
    width: 33pt;
    height: 33pt;
    margin: 10px 30px 8px 8px;
}
.gd-signature-thumbnail-barCode {
    width: 45pt; 
}
.gd-signature-thumbnail-stamp {
    width: 36pt;
    height: 36pt;
    margin: 7px 29px 7px 11px;
}
.gd-signature-thumbnail {
    background-color: rgba(255,255,255,0.75);
    width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
	position: relative;
    margin-bottom: 6px;
	min-height: 47pt;
}
.gd-signature-thumbnail:hover{
    background-color: rgba(255,255,255,1);
}
.gd-signature-thumbnail-digital i {
	font-size: 30px;
    padding: 0;   
    margin: 0px;  
    opacity: 0.25;
}
.gd-signature-thumbnail-digital {    
	margin: 20px 25px 8px 16px;	
	width: 30px;
}
/*
******************************************
DRAW IMAGE SLIDE
******************************************
*/
.csg-preview {
    top: -8px !important;
    left: 38px;
}
.gd-lightbox-header {
    position: absolute;
    width: 100%;
    top: 0;
}
/*
******************************************
SIGNATURE INFORMATION REVIEW SLIDE
******************************************
*/
#gd-modal-signed {
    position: absolute;
    top: 20px;
    left: 35px;
}
/*
******************************************
SIGNATURE IMAGE
******************************************
*/
.gd-draggable-helper, .ui-wrapper {
    position: absolute !important;
	border: 1px solid #3c97fe;
	z-index: 999;
}
.gd-image-signed {
    top: 69px !important;
}
.gd-signature-image {
    width: 100% !important;
    height: inherit;
}
.gd-context-menu-bottom {
    bottom: -40px;
}
.gd-context-menu-top {
    top: -44px;
}
.gd-context-menu {
    padding: 5px;
    box-shadow: #00000052 0px 0px 5px;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: default;
    width: max-content;
	width: -moz-max-content;
	width: -webkit-max-content;
	display: inline-table;
}
.gd-text {
    width: inherit;
    height: inherit;
}
.gd-text-context-menu {
	left: -48px;
}
.gd-context-menu .fa-arrows-alt {
    cursor: move;
}
.gd-context-menu i {
    color: #5c737f;
    font-size: 13px;
    padding-top: 4px;
    display: inline-block;
    position: initial;
    margin: 3px;
}
.gd-context-menu i.active {
    background-color: #e7e7e7;
}
.gd-text-menu {
	display: -webkit-inline-box;
}
.gd-delete-signature {
    cursor: pointer;
}
.gd-fonts-select {
	border: none;
}
.gd-text-color-picker{
	position: relative;
    width: 14px;    
    height: 14px;
    display: inline-block;
    top: 2px;
    margin: 0px 4px 0 6px;
}
/*
******************************************
SIGNATURE IMAGE RESIZE HANDLES
******************************************
*/
.ui-resizable-handle {
    background-color: #679FFA;
    width: 8px;
    height: 8px;
}

.ui-resizable-se {
    bottom: -5px;
    right: -5px;
}
.ui-resizable-e, .ui-resizable-w  {
    top: calc(100% - 55%) !important;
}
.ui-resizable-s, .ui-resizable-n  {
    left: calc(100% - 55%) !important;
}
/*
******************************************
TEMPORARY USED ELEMENTS EXCEL DOCUMENTS IMAGE SIGNING FIX
******************************************
*/
.gd-lightbox-body {
    padding: 0 !important;
}

.gd-draw-text {
    width: inherit;
    height: inherit;
}