#csg-params-header > i {
	color: white;
    font-size: 25px;  
    cursor: pointer;
    margin-left: 28px;
}
.csg-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 14px 23px 14px 14px;
}
#csg-params-header > button {
    background-color: #2e84b9;
    color: #ffffff;
    width: 83px;
    height: 27px; 
    border: 0;
    border-radius: 3px;
    margin-left: 12px;   
    cursor: pointer;
	font-size: 14px;
	font-family: Helvetica;
    font-weight: bold;
	text-align: left;
}
#csg-params-header > button i {
	width: 12px;    
    margin: 7px 11px 6px 9px;
}
.csg-params {
	display: -webkit-inline-box;
    width: 122px;
    height: 34px;
    top: -40px;
	padding: 0;
}
.csg-params i {
	font-size: 14px;
    margin: 10px 4px 10px 4px;
    padding: 0;
	cursor: pointer;	
}
.csg-preview {
	width: 100%;
	height: 100%;
}
.csg-bouding-box {
	border: 1px solid #679FFA;   
	top: 231px;
    left: 463px;
    position: absolute;
	z-index: 10;
}
.csg-border-width {
	background-image: url(../images/stampBorderWidth.png);
	width: 14px !important;
    height: 14px !important;
    margin: 10px 11px 10px 7px;
}
.csg-border-width  select {
    position: absolute;
	width: 27px;
    border: 0;   
    background-color: rgba(0,0,0,0);  
    cursor: pointer;
}
.csg-text-input {
	position: absolute;
    top: 57px;
    right: 97px;
    display: none;
    z-index: 999999999;
}
.csg-text-input input {
	margin-right: 10px;
	height: 26px;
}
.csg-insert-text {
	display: -webkit-inline-box;
    width: 27px;
    height: 27px;
    background-color: #3787F5;
    position: absolute;
	left: 176px;
}
.csg-insert-text i {
    color: white;
    position: absolute;
    top: 22%;
    left: 24%;
}
.fa-fill-drip > div{
    visibility: hidden; 
}
.csg-text-menu {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #3E4E5A;
}
.csg-text-menu select {
    font-size: 14px;
    
    margin: 20px 29px 0 13px;
    background-color: #3e4e5a;
    color: white;
	cursor: pointer;
}
.csg-text-menu .gd-font-size-select {
	width: 88px;
}
.csg-text-menu i {
    font-size: 14px;
    color: white;
    margin: 0 12px;
}
.csg-text-menu .gd-text-color-picker {
    position: relative;
    width: 26px;
    height: 26px;
    display: inline-block;
    top: 6px;
    margin: 0px 4px 0 11px;
}