@media (max-width: 1024px) {
	#csg-params-header > i {
		font-size: 14px;
		margin-top: 5px
	}
	.csg-header-buttons {
		margin: 0;
		padding: 5px 20px 0px 10px;
	}
	.csg-text-input {		
		top: 42px;
		right: 75px;
		width: 150px;		
	}
	
	.csg-text-input input {		
	}
		
	.bcPicker-palette {
		top: 0px !important;
		left: -70px !important;
		width: 381px !important;
	}

	.csg-text-color .bcPicker-palette {
		top: -131px !important;
		left: -106px !important;
	}
	
	.csg-insert-text {
		margin-left: 10px;
	}
	
	.bcPicker-palette > .bcPicker-color {
		width: 42px !important;
		height: 24px !important;
	}
	
	.csg-border-width {
        width: 18px !important;
		height: 16px !important;
		margin-left: 8px;
	}
	
	.csg-border-width select {
        width: 21px;
	}
	.csg-bouding-box {
		top: 80px;
		left: 250px;
	}
	.csg-params {
		top: -37px;
		margin: auto;
	}
	.csg-text-menu {
		height: 40px;
	}
	.csg-text-menu select {
		padding: 12px 19px 0 13px;
		margin: 0;
	}
}