#csg-params-header {
    right: 85px;
    top: 12px;
    position: inherit;
}
#csg-params-header > i {
	color: white;
    font-size: 21px;
    position: absolute;
    top: 2px;
    right: -47px;
	cursor: pointer;
}
#csg-params-header > button {
    background-color: #2e84b9;
    color: #ffffff;
    width: 82px;
    height: 22px;   
    border: 0;
    border-radius: 3px;
    margin-left: 5px;   
    cursor: pointer;
}
#csg-params-header > button i {
    margin-right: 10px;
}
.csg-params {
	display: -webkit-inline-box;  
    top: -36px;	
}
.csg-params i {
    margin-left: 9px;
	cursor: pointer;	
}
.csg-preview {
	width: 100%;
	height: 100%;
}
.csg-bouding-box {
	border: 1px solid #679FFA;   
    top: Calc(100% - 323px);
    left: Calc(100% - 446px);
    position: absolute;
	z-index: 10;
}
.csg-border-width {
	background-image: url(../images/stampBorderWidth.png);
    width: 18px !important;
    height: 12px !important;
    margin-left: 5px;
    margin-right: 5;
    position: relative;
}
.csg-border-width  select {
    position: absolute;
	width: 27px;
    border: 0;
    margin-left: 2px;
    top: -2px;
    background-color: rgba(0,0,0,0);  
    cursor: pointer;
}
.csg-text-input {
	position: absolute;
    top: 32px;
    left: 4px;
    display: none;
}
.csg-text-input input {
	margin-right: 10px;
	height: 26px;
}
.csg-insert-text {
	display: -webkit-inline-box;
    width: 27px;
    height: 27px;
    background-color: #3787F5;
    position: absolute;
	left: 176px;
}
.csg-insert-text i {
    color: white;
    position: absolute;
    top: 22%;
    left: 24%;
}
.fa-fill-drip > div{
    visibility: hidden; 
}
.csg-text-menu {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #3E4E5A;
}
.csg-text-menu select {
    font-size: 25px;
    width: 310px;
    margin: 20px 29px 0 13px;
    background-color: #3e4e5a;
    color: white;
	cursor: pointer;
}
.csg-text-menu .gd-font-size-select {
	width: 88px;
}
.csg-text-menu i {
    font-size: 20px;
    color: white;
    margin: 0 12px;
}
.csg-text-menu .gd-text-color-picker {
    position: relative;
    width: 26px;
    height: 26px;
    display: inline-block;
    top: 6px;
    margin: 0px 4px 0 11px;
}