#csg-container {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    position: relative;
    width: 100%;
    height: 335px;
}

#csg-container input {
    border: 1px solid #dcdcdc;
    padding: 5px;
    color: #9c9c9c;
    font-weight: 300;
}

#csg-container input[type="file"] {
    border: 0;
}

#csg-container input:focus, button:focus {
    outline: none;
}

#csg-params-header {
    right: 85px;
    top: 12px;
    position: inherit;
}

#csg-params-header > i {
	color: white;
    font-size: 21px;
    position: absolute;
    top: 2px;
    right: -47px;
	cursor: pointer;
}

#csg-params-header > button {
    background-color: #2e84b9;
    color: #ffffff;
    width: 82px;
    height: 22px;   
    border: 0;
    border-radius: 3px;
    margin-left: 5px;   
    cursor: pointer;
}
#csg-params-header > button i {
    margin-right: 10px;
}
#csg-params-container {
    position: absolute;
    width: 250px;
    height: calc(100% - 20px);
    padding: 10px;
    overflow: scroll;
}

.csg-params {
   
}

.csg-params i {
    margin-left: 9px;
	cursor: pointer;
}

.csg-params h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    margin-left: -5px;
    text-align: left;
}

.csg-params h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
    margin: 0;
    margin-top: 15px;
}

.csg-params thead td {
    font-size: 12px;
    font-weight: 300;
    color: #adadad;
}

.csg-params > div {
	display: -webkit-inline-box;
}

.csg-params input[type="number"] {
    width: 60px;
}

.csg-params input[type="text"] {
    width: 185px;
}

.csg-params #csg-text-font {
    width: 120px;
}

.csg-params .jscolor {
    width: 70px;
}

.csg-params .csg-color-picker {
    width: 55px;
    height: 23px;
    border: 1px solid #dcdcdc;
}

.csg-params .csg-params-toggle {
    position: absolute;
    top: 15px;
    right: 50px;
}

.csg-params .csg-shape-remove {
    position: absolute;
    top: 15px;
    right: 15px;
}

.csg-params button {
    background: none;
    border: 0;
}

#csg-preview-container {
    position: absolute;
    left: 250px;
    width: calc(100% - 320px);
    height: 100%;
}

#csg-footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    padding: 5px 20px;
}

.csg-shape {
    position: inherit; 
    border-radius: 50%;
    border: 1px solid #333;
    width: 100%;
    height: 100%;
	text-align: center;
    display: table;
}

.csg-bouding-box {
	border: 1px solid #679FFA;
    width: 150px;
    height: 150px;
    top: 36%;
    left: 37%;
    position: absolute;
}
.csg-border-width {
	background-image: url(../images/stampBorderWidth.png);
	width: 18px !important;
    height: 12px !important;
	margin-left: 5px;
}

.csg-text {    
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.fa-fill-drip > div{
    visibility: hidden; 
}
.bcPicker-palette {
    top: 25px;
}