#gd-header-logo {
	background-image: url('../images/logo.png') !important;
}

.gd-save-disabled {
	cursor: not-allowed !important;
}

.ui-resizable-se {   
    right: -4px !important;
    bottom: -3px !important;
}

.ui-draggable-handle{
    cursor: move !important;
}
.gd-page {
	position: relative;
}

.gd-disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

/*
******************************************
ANNOTATIONS TOOL BAR
******************************************
*/
.gd-annotations-bar-wrapper {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    z-index: 99999;
}

#gd-panzoom{
    margin-left: 50px !important;
}

.gd-tool-field .gd-popupdiv-hover {
	display: none;
}

.gd-tools-container {	
    height: 100%;	
	background: #FFFFFF;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}

.gd-tools-container ul{
    margin: 0px;
}
.gd-tools-container ul li {
    margin: 10px;
}

.gd-tool-field {
	width: 45px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height: 45px;

	display: inline-block;
	margin: 3px 0px 0px 1px;
	cursor: move;	
}

.gd-tool-field:hover {
    
}

.gd-tool-field:hover .gd-popupdiv-hover {
	display: block;
}

.gd-tool-field-tooltip {	
    padding: 3px 0.5em;    
    background-color: #08090a;
    color: #fff !important;
    text-align: center;
    border-radius: 2px;   
    position: fixed;
    z-index: 20; 
    font-size: 12px;
}

.gd-tool-field-tooltip::after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000000;
	border-width: 5px;
	margin-top: -5px;
}

button > * {
    pointer-events: none;
  }
.gd-tool-field {
    text-align: center;
    vertical-align: middle;
	cursor: pointer;
}

.gd-embed-annotation-tools {
	float: left;        
    z-index: 1;
}

.gd-embed-annotation-tools .gd-tool-field {
	width: 32px;
	height: 32px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
}

.gd-embed-annotation-tools .gd-tool-field.active{
    background-color: #e7e7e7;
}
.gd-embed-annotation-tools .gd-tool-field > i{
	color: #959da5;
}
.gd-embed-annotation-tools .gd-tool-field:hover > i{
    color: #3e4e5a;
}
.gd-embed-annotation-tools .gd-tool-field.active > i{
    color: #3e4e5a;
}

.gd-embed-annotation-tools .gd-tool-field-tooltip {
    position: absolute;
    left: 35px !important;
    top:10px;
}

/*
******************************************
ANNOTATIONS COMMENTS BAR
******************************************
*/
.gd-annotations-comments-toggle {
	display: none;
	position: fixed;
	top: 52%;
	right: 282px;
	height: 53px;
	font-size: 25px;
	z-index: 2;
}

.gd-lbl-comments-toggle{
	position: fixed;
    top: 9%;   
    color: #959da5;
    z-index: 2;
    cursor: pointer;
    font-size: 25px;
}

.gd-comments-sidebar-expanded {	
	overflow: hidden;
	transition: width .25s ease-in-out;
	position: fixed;
	right: 0;
	top: 50px;
	left: auto;
	background-color: #ffffff;
	height: 95%;		
	overflow-y: auto;
	z-index: 1;
}

.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle {
  transform: rotate(180deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle + .gd-comments-sidebar-expanded{
  width: 300px;
}

.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle {
  right: 13px;
  transition: right .25s ease-in-out;
}

.gd-annotations-comments-wrapper.active {
	width: 310px;
	display: block;    
}

.gd-comments-content{
	display: none;
}
	
.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle + .gd-comments-sidebar-expanded > .gd-comments-content{
  display: block;
}

.gd-annotation-comment {
    margin-bottom: 32px;
    display: block;
    position: relative;
}

.gd-com-heading{
    font-size:15px !important;
	color: #959da5;
	margin: 7px 0px 0px 31px;
}
.gd-comment-time{
	position: absolute;
    top: 24px;
    left: 45px;
    color: #3e4e5a;
    font-size: 14px !important;
}

.gd-comment-user {
	font-size: 20px;
    color: #3e4e5a;
    top: 1px;
    left: 45px;
    position: absolute;
}

.gd-comment-text-wrapper{
    position:relative;
    display:inline-block;
	margin-top: 17px;
}

.gd-comment-text {
    background: #fff;
    padding: 5px 8px 10px;
    width: 244px;
    min-height: 90px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #959da5;
    margin: 13px 0 0 10px;
    position: relative;
    color: #333;
    font-size: 14px;
}

.gd-comment-user-name{
	margin: 11px 0 0 10px;
    width: 244px;
}

.gd-comment-box-sidebar{
    position:relative;
    padding:20px 0 0 18px;
    margin: 2px 0 -42px;
}

.gd-comment-avatar{
    position: relative;
    top: 24px;
    left: 8px;
    font-size: 26px;
    color: #959da5;
}

.gd-comment-avatar span i{
	font-size: 40px;
}

.gd-save-button {
	border-radius: 8px;
    display: inline-block;
    text-align: center;
    width: 73px;
    height: 24px;
    position: relative;
    top: -25px;
    left: 116px;
    background-color: #3e4e5a;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 5px 0px;
}

.gd-add-comment-reply {
    background: white;
    color: #0a0a0a;
    left: 11px;
    display: none;
    font-size: 17px;
}

.gd-comment-cancel {
	margin: 0px 0px 0px 2px;
    background-color: #ffffff;
    color: #80868c;
}

.gd-delete-comment, .gd-comments{
	cursor: pointer;
}

#gd-save-comments {
	width: 246px;
    margin-left: 20px;
    margin-top: 37px;
}

.gd-save-button-disabled {
	cursor: not-allowed;
}

/*
******************************************
ANNOTATIONS ADDED TO THE DOCUMENT
******************************************
*/

.gd-context-menu {
    width: 94px;
    height: 30px;
    border: 2px solid #25c2d4;
    border-radius: 10px;
    position: absolute;
    left: calc(100% - 79%);
    top: -33px;
}

.gd-context-menu i {
    font-size: 17px;
    color: #25c2d4;
    margin: 5px;
}

.gd-annotation {
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

.ui-resizable-handle {
    background-color: rgba(0,0,0,.75);
    width: 8px;
    height: 8px;	
}

.gd-text-annotation, .gd-textReplacement-annotation {
    background-color: #28f;
    opacity: .3;
    filter: alpha(opacity=20);   
}

.gd-textRedaction-annotation {
    background-color: #28f;    
    padding: 0 6px 6px 0;  
}

.gd-area-annotation, .gd-resourcesRedaction-annotation {  
	border-width: 1px;
	border-color: #30abd4;
	border-style: solid;
}
.gd-resourcesRedaction-annotation {  	
	background-color: blue;
}

.gd-textStrikeout-line, .gd-textUnderline-line {   
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: red;   
	position: absolute;
}

.gd-textUnderline-line {
	top: 100%;	
	background-color: #78e45c;
}

.gd-text-area-toolbar {      
    border: 1px solid #8b8b8b;   
    border-radius: 0;
    width: 144px;
    height: 32px;
    background-color: #e0e0e0;
    visibility: hidden;
    margin-bottom: 5px;
    padding: 5px 0 0 0;
}

.gd-text-area-toolbar input {
    margin-right: 5px;
	font-size: 12px;
}

.gd-text-area-toolbar input:first-of-type {
	width: 77px;   
    font-size: 12px;
}

.gd-typewriter-font-size {
	width: 32px;     
}

.gd-text-field-delete {
    top: 1px;
    color: #3e4e5a;  
    font-size: 17px;  
    position: relative;
}

.gd-typewriter-text {
	top: -14px;   
    display: block;
    font-family: Arial;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);    
    border: 1px solid;
	width: 239px;
    height: 50px;
	text-align: left;
	overflow: hidden;
}

.gd-annotation:hover > .gd-text-area-toolbar {
	visibility: visible;
}

.gd-replace-tab {   
    background: #e9865b;
    font: 700 15px/30px 'PT Sans',sans-serif;
    height: 30px;
    width: 80px;
    color: #fff;   
}

.gd-replace-text-area-text {
    margin: 0;
    padding: 3px 5px;
    border: 1px dotted #000;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
	width: 209px;
    height: 34px;
    display: block;
}

.gd-replace-text-area {
    margin-top: 6px;    
}

.gd-distance-text {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	text-anchor: middle; 
	font: 10px Arial; 
	stroke-opacity: 1;

}

.gd-bounding-box {
	outline: 2px solid #ccc;
	z-index: 9;
}

svg {	
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;		
}