#gd-header-logo {
	background-image: url('../images/logo.png') !important;
}

.gd-save-disabled {
	cursor: not-allowed !important;
}

.ui-resizable-se {   
    right: -5px !important;
    bottom: -5px !important;
}

.ui-draggable-handle{
    cursor: move !important;
}
.gd-page {
	position: relative;
}

.gd-disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

/*
******************************************
ANNOTATIONS TOOL BAR
******************************************
*/
.gd-annotations-bar-wrapper {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    z-index: 99999;
}

#gd-panzoom{
    margin-left: 50px !important;
}
#gd-panzoom.drawing{
    cursor: crosshair;
}
.gd-tool-field .gd-popupdiv-hover {
	display: none;
}

.gd-tools-container {	
    height: 100%;	
	background: #FFFFFF;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
}

.gd-tools-container ul{
    margin: 0px;
}
.gd-tools-container ul li {
    margin: 10px;
}

.gd-tool-field {
	width: 45px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height: 45px;
    outline: none;
	display: inline-block;
	margin: 3px 0px 0px 1px;
	cursor: move;	
}

.gd-tool-field:hover {
    
}

.gd-tool-field:hover .gd-popupdiv-hover {
	display: block;
}

.gd-tool-field-tooltip {	
    padding: 3px 0.5em;    
    background-color: #08090a;
    color: #fff !important;
    text-align: center;
    border-radius: 2px;   
    position: fixed;
    z-index: 20; 
    font-size: 12px;
}

.gd-tool-field-tooltip::after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000000;
	border-width: 5px;
	margin-top: -5px;
}

button > * {
    pointer-events: none;
  }
.gd-tool-field {
    text-align: center;
    vertical-align: middle;
	cursor: pointer;
}

.gd-embed-annotation-tools {
	float: left;        
    z-index: 1;
}

.gd-embed-annotation-tools .gd-tool-field {
	width: 32px;
	height: 32px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
}

.gd-embed-annotation-tools .gd-tool-field.active{
    background-color: #e7e7e7;
}
.gd-embed-annotation-tools .gd-tool-field > i{
	color: #959da5;
}
.gd-embed-annotation-tools .gd-tool-field:hover > i{
    color: #3e4e5a;
}
.gd-embed-annotation-tools .gd-tool-field.active > i{
    color: #3e4e5a;
}

.gd-embed-annotation-tools .gd-tool-field-tooltip {
    position: absolute;
    left: 35px !important;
    top:10px;
}

.gd-annotation-separator {
    border-top: 1px solid #ddd;
}

/*
******************************************
ANNOTATIONS COMMENTS BAR
******************************************
*/
.gd-annotations-comments-toggle {
	display: none;
	position: fixed;
	top: 52%;
	right: 282px;
	height: 53px;
	font-size: 25px;
	z-index: 2;
}

.gd-lbl-comments-toggle{
	position: fixed;
    top: 9%;   
    color: #959da5;
    z-index: 2;
    cursor: pointer;
    font-size: 25px;
}

.gd-comments-sidebar-expanded {	
	overflow: hidden;
	transition: width .25s ease-in-out;
	position: fixed;
	right: 0;
	top: 50px;
	left: auto;
	background-color: #ffffff;
	height: 95%;		
	overflow-y: auto;
	z-index: 1;
}

.gd-annotations-comments-wrapper{
    display: flex;	
    flex-flow: column;
    margin-right: -400px;
    width: 400px;
    transition: margin-right 0.2s cubic-bezier(0.81, 0.01, 1, 1);
}
.gd-annotations-comments-wrapper.active {
    margin-right: 0px;
    width: 400px;
    z-index: 999;
    background-color: #FFF;
    transition: margin-right 0.2s cubic-bezier(0.81, 0.01, 1, 1);
}

.gd-annotations-comments-wrapper .gd-annotations-comments-header{
    display: block;
    height: 50px;
    background-color: #222e35;
    width: 100%;
    color: #939da6;
    font-size: 14px;
    font-weight: bold;
}
.gd-annotations-comments-header-flex{
    display: flex;
    flex-flow: row;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-header div.title{
    width: 100%;
    padding: 1em;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-header div.close{
    height: 50px;
    clear: both;
    width: 50px;
    padding: 8px;
    cursor: pointer;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-header div.close > div{
    border-radius: 100%;
    padding: 0px 0px 0px 8px;
    width: 32px;
    height: 32px;
    line-height: 27px;
    font-size: 26px;
    font-weight: lighter;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-header div.close > div:hover{
    background-color: #ffffff17;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-header div.add{
    height: 50px;
    clear: both;
    width: 50px;
    padding: 8px;
    cursor: pointer;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-header div.add > div{
    border-radius: 100%;
    padding: 0px 0px 0px 8px;
    width: 32px;
    height: 32px;
    line-height: 27px;
    font-size: 26px;
    font-weight: bold;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-header div.add > div:hover{
    background-color: #5fd40042;
    color:#FFF;
}
.gd-annotations-comments-wrapper .gd-annotations-comments-body{
    overflow-y: auto;
    height: 100%;
    padding: 1em;
}

.gd-annotations-comments-wrapper .gd-annotations-comments-form{
    padding: 1em;
    border-bottom: 1px solid #CCC;
}

.gd-comments-nonideal-state{
    padding: 30px;
    text-align: center;
}
.gd-comments-nonideal-state .gd-comments-nonideal-state-icon{
    font-size: 50px;
    color: #AAA;
    margin-bottom: 10px;
}
.gd-comments-nonideal-state .gd-comments-nonideal-state-message{
    color: #555;
    font-size: 14px;
}
.gd-comments-nonideal-state .gd-comments-nonideal-state-message span{
    font-weight: bold;
    cursor: pointer;
}
.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle + .gd-comments-sidebar-expanded > .gd-comments-content{
  display: block;
}

.gd-annotation-comment {
    margin-bottom: 32px;
    display: block;
    position: relative;
}

.gd-com-heading{
    font-size:15px !important;
	color: #959da5;
	margin: 7px 0px 0px 31px;
}
.gd-comment-time{
	position: absolute;
    top: 24px;
    left: 45px;
    color: #3e4e5a;
    font-size: 14px !important;
}

.gd-comment-user {
	font-size: 20px;
    color: #3e4e5a;
    top: 1px;
    left: 45px;
    position: absolute;
}

.gd-comment-text-wrapper{
    position:relative;
    display:inline-block;
	margin-top: 17px;
}

.gd-comment-text {
    background: #fff;
    padding: 5px 8px 10px;
    width: 244px;
    min-height: 90px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #959da5;
    margin: 13px 0 0 10px;
    position: relative;
    color: #333;
    font-size: 14px;
}


.gd-comment-input input,textarea{
    width: 100%;
    font-size: 14px;
    border: 2px solid #DDD;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0px 10px 0px;
    outline: none;
    color:#3a4e5b;
    transition: border-color 0.3s linear;
}
.gd-comment-input input:focus{
    border: 2px solid #00c4d7;
    transition: border-color 0.3s linear;
}
.gd-comment-input textarea:focus{
    border: 2px solid #00c4d7;
    transition: border-color 0.3s linear;
}
.gd-comment-controls{
    text-align: right   ;
}


/*
TODO: move this to common
 */
.gd-btn{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 3px;
    border: 0px;
    color: #FFF;
    margin-left: 1em;
}
.gd-btn-primary{
    background-color: #2a5699;
}
.gd-btn-primary:hover{
    background-color: #00c4d7;
}
.gd-btn-default{
    background-color: transparent;
    color:#3a4e5b;
}
.gd-btn-default:hover{
    background-color: #EEEEEE;
}




.gd-comment-box-sidebar{
    position:relative;
    padding:20px 0 0 18px;
    margin: 2px 0 -42px;
}

.gd-comment-avatar{
    display: flex;
    flex-flow: row;
    width: 100%;
}
.gd-comment-avatar .gd-comment-userpic{
    width: 30px;
    color:#666;
}

.gd-comment-avatar .gd-comment-username{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}
.gd-comment-content{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 14px;
    color:#666;
}
.gd-comment-footer .gd-comment-created-at{
    font-size: 12px;
    color: #999;
}


.gd-save-button {
	border-radius: 8px;
    display: inline-block;
    text-align: center;
    width: 73px;
    height: 24px;
    position: relative;
    top: -25px;
    left: 116px;
    background-color: #3e4e5a;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 5px 0px;
}

.gd-add-comment-reply {
    background: white;
    color: #0a0a0a;
    left: 11px;
    display: none;
    font-size: 17px;
}

.gd-comment-cancel {
	margin: 0px 0px 0px 2px;
    background-color: #ffffff;
    color: #80868c;
}

.gd-delete-comment, .gd-comments, .gd-edit-text-field{
	cursor: pointer;
}

#gd-save-comments {
	width: 246px;
    margin-left: 20px;
    margin-top: 37px;
}

.gd-save-button-disabled {
	cursor: not-allowed;
}

/*
******************************************
ANNOTATIONS ADDED TO THE DOCUMENT
******************************************
*/

.gd-context-menu {
    padding:5px;
    box-shadow: #00000052 0px 0px 5px;
    background-color: #FFFFFF;
    width: 90px;
    /*border: 1px solid #C0C0C0;*/
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -45px;
    cursor: default;
}
.gd-context-menu .fa-arrows-alt{
    cursor: move;
}
.gd-context-menu i {
    color: #5c737f;
    margin: 5px;
}
.gd-context-menu i:hover{
    color: #2e363a;
}
.gd-annotation {
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

.ui-resizable-handle {
    background-color: #3c97fe;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border:1px solid #FFFFFF;
}

.gd-textReplacement-annotation {
    background-color: #28f;    
    filter: alpha(opacity=20);   
}

.gd-text-annotation-pdf, .gd-textReplacement-annotation-pdf {
  background-color: rgba(151, 151, 240, 0.5);   
}

.gd-text-annotation, .gd-textReplacement-annotation {
  background-color: rgba(113, 254, 113, 0.5);
}

.gd-textRedaction-annotation-pdf, .gd-resourcesRedaction-annotation, .gd-resourcesRedaction-annotation-pdf, .gd-textRedaction-annotation, .gd-resourcesRedaction-annotation {
    background-color: #000;
    padding: 0 6px 6px 0;
    width: 100%;
    height: 100%;
}

.gd-area-annotation, .gd-resourcesRedaction-annotation {  
	border-width: 1px;
	border-color: #b3afff;
	border-style: solid;
}

.gd-textStrikeout-line, .gd-textUnderline-line {   
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: red;   
	position: absolute;
}

.gd-textUnderline-line {
	top: 100%;	
}

.gd-text-area-toolbar {      
    border: 1px solid #8b8b8b;   
    border-radius: 0;
    width: 144px;
    height: 32px;
    background-color: #e0e0e0;
    visibility: hidden;
    margin-bottom: 5px;
    padding: 5px 0 0 0;
}

.gd-text-area-toolbar input {
    margin-right: 5px;
	font-size: 12px;
}

.gd-text-area-toolbar input:first-of-type {
	width: 77px;   
    font-size: 12px;
}

.gd-typewriter-font-size {
	width: 32px;     
}

.gd-text-field-delete {
    top: 1px;
    color: #3e4e5a;  
    font-size: 17px;  
    position: relative;
}



.gd-textField-wrapper{
    background-color: #FFFFFF00;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.gd-textField-annotation{
    padding: 0px;
    border-radius: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    resize: none;
    font-size: 15px;
    margin: 0px;
    color: #0000FF;
    font-family: Arial;
    overflow: hidden;
    line-height: 17px;
    background-color: transparent;
    min-width: 1em;
    min-height: 1em;
    height: 100%;
    border:1px solid transparent;
}
.gd-textField-annotation.clone{
    text-align: left;
    height: auto;
    margin: 0px;
    min-width: 1em;
    min-height: 1em;
    border:1px solid #0000FF;

}


.gd-watermark-wrapper{
    background-color: #FFFFFF00;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
textarea.gd-watermark-annotation{
    height: 100%;
}
.gd-watermark-annotation{
    padding: 0px;
    border-radius: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    resize: none;
    font-size: 40px;
    margin: 0px;
    color: #807fff;
    font-family: Arial;
    overflow: hidden;
    letter-spacing: 0.006em;
    line-height: 37px;
    background-color: transparent;
    min-width: 1em;
    min-height: 1em;
    border:1px solid transparent;
}
.gd-watermark-annotation.clone{
    text-align: left;
    height: auto;
    margin: 0px;
    min-width: 1em;
    min-height: 1em;
    border:1px solid transparent;

}

.gd-text-color-picker {
	position: absolute !important;
}

.gd-font-size {
    border: 0;
}

.gd-typewriter-text {
	top: -14px;   
    display: block;
    font-family: Arial;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);    
    border: 1px solid;
	width: 239px;
    height: 50px;
	text-align: left;
	overflow: hidden;
}

.gd-annotation:hover > .gd-text-area-toolbar {
	visibility: visible;
}

.gd-replace-tab {   
    background: #e9865b;
    font: 700 15px/30px 'PT Sans',sans-serif;
    height: 30px;
    width: 80px;
    color: #fff;   
}

.gd-replace-text-area-text {
    margin: 0;
    padding: 3px 5px;
    border: 1px dotted #000;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
	width: 209px;
    height: 34px;
    display: block;
}

.gd-replace-text-area {
    margin-top: 6px;    
}

.gd-distance-text {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	text-anchor: middle; 
	font: 10px Arial; 
	stroke-opacity: 1;

}
.gd-bounding-box{
    border: 1px solid transparent;
}
.gd-bounding-box.gd-active-annotation {
	border: 1px solid #3c97fe;
	z-index: 9;
}

svg {	
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;		
}


.check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    margin-left: 15px;
}

.hide{
    display:none;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.sa-icon.sa-success {
    border-color: #4CAF50;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(76, 175, 80, .5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
    border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}
@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

.gd-modal.success .gd-modal-dialog{
    width: 400px;
    height: 250px;
    left: calc(50% - 200px);
}